<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title >
      Componentes Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding ion-text-center">
  <!-- avatar -->
  <ion-avatar style="margin: auto; width: 150px; height: 150px;">
    <img [src]="imagenAvatar" alt="Avatar" />
  </ion-avatar>

  <div *ngIf="!editando && !editandoDesc && !editandoCel">
    <h2>{{ nombreUsuario }}</h2>
     <p>{{ descripcion }}</p>
     <p>{{ celular }}</p>

    <!-- icono -->
      <div class="ion-margin-bottom" style="color: #8f1515; font-size: 20px;">
        <ion-icon name="heart-circle"></ion-icon>
      </div>

    <!-- Boton editar nombre de usuario -->
    <ion-button (click)="abrirEdicion()" color ="secondary" expand="block">
      <ion-icon slot="start" name="create" ></ion-icon>
      EDITAR NOMBRE
    </ion-button>

    <!-- Boton editar el numero celular -->
    <ion-button (click)="abrirEdicionCel()" color="secondary" expand="block">
      <ion-icon slot="start" name="call"></ion-icon>
      EDITAR NUMERO CELULAR
    </ion-button>

    <!-- Boton editar descripción de usuario -->
    <ion-button (click)="abrirDesc()" color="secondary" expand="block">
      <ion-icon slot="start" name="pencil" ></ion-icon>
      EDITAR DESCRIPCION
    </ion-button>

    <!-- Boton editar imagen de avatar -->
    <input type="file" #fileInput (change)="SeleccionarArchivo($event)" accept="image/*" style="display: none;">
    <ion-button (click)="fileInput.click()" color ="secondary" expand="block">
      <ion-icon slot="start" name="camera" expand="SUBIR IMAGEN"></ion-icon>
      SUBIR IMAGEN
    </ion-button>

  </div>

  <!-- añadir y editar el nombre de usuario --> 
  <div *ngIf="editando">
    <ion-item>
      <ion-label position="stacked">Editar Nombre</ion-label>
      <ion-input [(ngModel)]="nuevoNombre" placeholder="Ingresa nombre"></ion-input>
    </ion-item>
    
    <ion-button color="success" (click)="guardarNombre()">
      <ion-icon slot="start" name="save" class="ion-margin-end"></ion-icon>
        ACEPTAR
    </ion-button>
    <ion-button color="danger" (click)="cancelar()">
      <ion-icon slot="start" name="close-circle" class="ion-margin-end"></ion-icon>
        CANCELAR
    </ion-button>
  </div>

  <!-- Añadir y editar celular-->
  <div *ngIf="editandoCel">
    <ion-item>
      <ion-label position="stacked">Número de Celular</ion-label>
      <ion-input 
        type="tel" 
        [(ngModel)]="nuevoCelular" 
        placeholder="Ej: 0987654321"
        maxlength="10">
      </ion-input>
    </ion-item>
    
    <p *ngIf="mensajeError" style="color: var(--ion-color-danger); font-size: 14px; text-align: left; margin-left: 16px;">
      {{ mensajeError }}
    </p>

    <ion-button color="success" (click)="guardarCelular()">
      <ion-icon slot="start" name="save"></ion-icon> 
      ACEPTAR
    </ion-button>
    <ion-button color="danger" (click)="cancelarCel()">
      <ion-icon slot="start" name="close-circle"></ion-icon> 
      CANCELAR
    </ion-button>
  </div>

  <!-- Añadir y editar la desccripción--> 
  <div *ngIf="editandoDesc">
    <ion-item>
      <ion-label position="stacked">Editar Descripción</ion-label>
      <ion-textarea [(ngModel)]="nuevaDescripcion" placeholder="Escribe tu descripción"></ion-textarea>
    </ion-item>
    
    <ion-button color="success" (click)="guardarDescripcion()">
      <ion-icon slot="start" name="save" class="ion-margin-end"></ion-icon> 
      ACEPTAR
    </ion-button>
    <ion-button color="danger" (click)="cancelarDesc()">
      <ion-icon slot="start" name="close-circle" class="ion-margin-end"></ion-icon> 
      CANCELAR
    </ion-button>
  </div>
</ion-content>

